/*Info about the author 
name: Liene Putniņa
student ID number: lr12022
*/

body {
  min-width: 1500px;
  width: 100%;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-size: 14px;
  cursor: pointer;
}

@font-face {
  font-family: "Roboto";
  src: url(Roboto);
}

#top-menu {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #0e0223cc;
  padding: 10px;
  font-size: 16.8px;
  color: #ffffff;
  vertical-align: middle;
  z-index: 100;
}

ul.parent-menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

ul li.sub-menu-caption {
  display: flex;
  color: #f2b11a;
}

ul li.sub-menu-caption.upper-menu.active {
  display: flex;
  align-items: center;
}

ul.sub-menu {
  display: none;
  position: absolute;
  top: 45px;
  background-color: #0e0223cc;
  color: #ffffff;
  height: 130px;
  width: 130px;
  padding: 15px 10px 10px 5px;
  font-size: 15.12px;
}

ul.sub-menu a {
  padding: 5px;
}

ul li.sub-menu-caption.upper-menu.active:hover .sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon.collapse {
  display: none;
  margin: 2px;
}

ul li.sub-menu-caption.upper-menu.active:hover .icon.collapse {
  display: block;
}

ul li.sub-menu-caption.upper-menu.active:hover .icon.expand {
  display: none;
}

.icon.expand {
  margin: 2px;
}

ul li.upper-menu {
  margin-left: 10px;
  margin-right: 10px;
  /* Replace margins with other */
}

ul li.upper-menu a {
  color: #ffffff;
  text-decoration: none;
}

ul li.upper-menu a:hover {
  color: #f2b11a;
  text-decoration: none;
}

ul li.upper-menu.right {
  margin-left: auto;
  padding-right: 35px;
}

ul li.upper-menu.right a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2d51acc;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 32px;
  width: 80px;
  height: 28px;
  margin-right: 20px;
}

ul li.upper-menu.right a.btn:hover {
  background-color: #f2d51a;
  color: #ffffff;
}

.bg-overlay {
  background: #0e02238c;
}

section.header {
  height: 100vh;
  width: 100%;
  background-image: url("/images/topimage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: #ffffff;
}

section.header div.bg-overlay {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  position: relative;
}

section.header div.title h1 {
  font-size: 72px;
  margin: 30px 30px 80px 30px;
}

.meta {
  position: absolute;
  right: 30px;
}

.meta ul {
  display: flex;
  padding-bottom: 10px;
}
.meta ul li {
  display: inherit;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 24px;
  font-size: 14px;
  width: max-content;
  height: 38px;
  padding-right: 7px;
  margin: 6px;
}
.meta ul li span {
  display: inherit;
  justify-content: center;
  align-items: center;
  font-size: 11.2px;
  text-transform: uppercase;
  background-color: #f2d51acc;
  border-radius: 24px;
  margin-right: 5px;
  padding: 2px;
  height: 38px;
  width: 40px;
}

.social {
  position: absolute;
  top: 110px;
  right: 30px;
  display: inherit;
  justify-content: center;
  align-items: center;
}

.social h5 {
  font-size: 18px;
  opacity: 80%;
  margin-right: 10px;
}

.social-btns a img {
  opacity: 60%;
  height: 20px;
  width: 20px;
}

.social-btns a img:hover {
  opacity: 100%;
}
section.section-summary {
  padding: 64px;
}

h2.text-center.upper {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.8em;
}

section.section-summary p {
  text-align: justify;
  font-size: 18px;
  color: #848484;
  line-height: 1.5;
}

section.section-summary p span {
  font-style: italic;
}

section.section-cast {
  height: 100vh;
  min-height: 680px;
  background-image: url("/images/car.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.section-cast div.bg-overlay {
  height: 100vh;
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.section-cast div.bg-overlay span.line {
  width: 40px;
  border: 1px solid white;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.section-cast div.bg-overlay h4.text-center.upper {
  font-size: 42px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.section-cast div.bg-overlay ul {
  display: flex;
  justify-content: space-between;
  padding: 70px;
  margin-top: 100px;
}
.section-cast div.bg-overlay ul li {
  display: inherit;
}

section.section-cast div.bg-overlay ul li a {
  position: relative;
  height: 50vh;
}

section.section-cast div.bg-overlay ul li a img {
  height: 50vh;
  max-width: 100%;
  object-fit: cover;
}

a div.cast-head {
  position: absolute;
  top: 8px;
  left: 8px;
  color: #ffffffcc;
  background-color: #f2d51acc;
  font-size: 19px;
  text-align: center;
  height: 25px;
  width: 70px;
  padding-top: 5px;
}

.cast-text {
  background-color: #ffffffcc;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0;
}

section.section-cast div.bg-overlay ul li a:hover div.cast-text {
  background-color: #f2d51a;
}

.cast-text h5 {
  font-size: 18px;
  font-weight: bold;
  color: #2a2a2a;
  margin-bottom: 15px;
}

section.section-cast div.bg-overlay ul li a:hover div.cast-text h5 {
  color: #ffffff;
}

.cast-text p {
  font-size: 14px;
  color: #848484cc;
}

section.section-cast div.bg-overlay ul li a:hover div.cast-text p {
  color: #848484;
}

section.section-cast div.bg-overlay ul li a {
  text-decoration: none;
}

section.section-trailer.text-center {
  height: 100vh;
  min-height: 950px;
  padding-top: 70px;
}

section.section-trailer.text-center h2.upper {
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 50px;
}

section.section-trailer.text-center ul {
  display: flex;
  justify-content: center;
  width: 100%;
}

section.section-trailer.text-center ul li:first-child {
  display: flex;
}

section.section-trailer.text-center ul li iframe {
  padding-right: 30px;
  width: 884px;
}

section.section-trailer.text-center ul li ul {
  display: flex;
  flex-direction: column;
}

section.section-trailer.text-center ul li ul li {
  padding-bottom: 35px;
}

section.section-trailer.text-center ul li ul li:nth-child(3) {
  padding-bottom: 100px;
}

section.section-trailer.text-center ul li ul li:last-child {
  text-align: center;
}

section.section-trailer.text-center ul li ul li a {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

section.section-tickets.text-center {
  background-image: url("/images/cinema.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  height: 290px;
}

section.section-tickets.text-center div.bg-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0e022380;
  height: 290px;
}

section.section-tickets.text-center div.bg-overlay span.line {
  color: #ffffff;
  border: 1px solid white;
  width: 20px;
  margin-top: -49px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

section.section-tickets.text-center div.bg-overlay h4.text-center.upper {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 34px;
}

section.section-tickets.text-center div.bg-overlay a {
  display: inherit;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f2d51acc;
  border: 2px solid #ffffff;
  border-radius: 32px;
  border-radius: 32px;
  height: 42px;
  width: 147px;
}

section.section-tickets.text-center div.bg-overlay a:hover {
  background-color: #f2d51a;
}

.ul-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  /* font-style: ; */
  height: 5vh;
}

.ul-footer li {
  font-variant-caps: small-caps;
  border-right: 1px solid #b5b5b5;
  height: 15px;
}

.ul-footer li:last-child {
  border-right: none;
}

.section-footer ul li a {
  color: #888888;
  text-decoration: none;
  padding: 10px;
}

.section-footer ul li a:hover {
  text-decoration: underline;
  color: #0e0223;
}
